<section>
    <div>
        <md-card layout-padding>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Hunter Rancourt</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content >
                <h1 class="md-display-2 name-margin">Hunter Rancourt</h1>
                <img class="md-card-image picture" src="../images/hunter.JPG" />
                <h3 class="md-title">Software Engineer</h3>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                    <md-button class="md-icon-button" aria-label="GitHub">
                        <md-icon md-svg-icon="images/icons/github.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="LinkedIn">
                        <md-icon md-svg-icon="images/icons/linkedin-128.png"></md-icon>
                    </md-button>
                </md-card-icon-actions>
            </md-card-actions>
        </md-card>
    </div>
</section>