<section layout="row" layout-align="center start">
    <div>
        <md-card layout-padding>
            <md-card-content class="card-content-height">
            <h1 class="md-display-2 name-margin">Hunter Rancourt</h1>
            </md-card-content>
            <img class="md-card-image picture" src="../images/hunter.JPG" />
            <md-card-footer>
                <h3 class="md-title">Software Engineer</h3>
            </md-card-footer>
        </md-card>
    </div>
    
    <!-- <div>{{uc.user.data}}</div> -->
    <!-- <div>{{uc.repos.data}}</div> -->
</section>
